.version.author /* version checker */
{
	color: #0000E4;
	background-color: #A89F1C;
}

.html
{
	background: #7F7F7F url("../images/background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 601px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -172px;
}

#pmenuu1556
{
	width: 0.01px;
}

#menuu1556
{
	z-index: 60;
	width: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u1557
{
	width: 147px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u1560
{
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #560707;
	padding-bottom: 9px;
	position: relative;
}

#u1560:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1562
{
	height: 29px;
	width: 147px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	background: url("../images/u1562.png") no-repeat 0px 0px;
}

#u1560:hover #u1562
{
	background: url("../images/u1562-r.png") no-repeat 0px 0px;
}

#u1560.MuseMenuActive #u1562
{
	background: url("../images/u1562-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u487
{
	z-index: 2;
	width: 553px;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u1222
{
	z-index: 18;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 811px;
}

#u1235
{
	z-index: 27;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u1225
{
	z-index: 25;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u1227
{
	z-index: 19;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u1229
{
	z-index: 23;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1223
{
	z-index: 21;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#menuu1520
{
	z-index: 29;
	width: 813px;
	margin-left: 147px;
	position: relative;
}

#u1528
{
	width: 221px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1531
{
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1531:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1532
{
	height: 22px;
	width: 167px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1532.png") no-repeat 0px 0px;
}

#u1531:hover #u1532
{
	background: url("../images/u1532-r.png") no-repeat 0px 0px;
}

#u1531.MuseMenuActive #u1532
{
	background: url("../images/u1532-a.png") no-repeat 0px 0px;
}

#u1535
{
	width: 207px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u1538
{
	width: 207px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1538:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1541
{
	height: 22px;
	width: 153px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1541.png") no-repeat 0px 0px;
}

#u1538:hover #u1541
{
	background: url("../images/u1541-r.png") no-repeat 0px 0px;
}

#u1538.MuseMenuActive #u1541
{
	background: url("../images/u1541-a.png") no-repeat 0px 0px;
}

#u1549
{
	width: 123px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u1550
{
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1550:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1552
{
	height: 22px;
	width: 70px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1552.png") no-repeat 0px 0px;
}

#u1550:hover #u1552
{
	background: url("../images/u1552-r.png") no-repeat 0px 0px;
}

#u1550.MuseMenuActive #u1552
{
	background: url("../images/u1552-a.png") no-repeat 0px 0px;
}

#u1542
{
	width: 119px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u1545
{
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1545.MuseMenuActive
{
	background-color: #5F312E;
	margin: 0px;
}

#u1548-4
{
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
}

#u1548-4_clip
{
	overflow: hidden;
	width: 66px;
	height: 22px;
	vertical-align: top;
}

#u1548-4_img
{
	display: block;
}

#u1521
{
	width: 135px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 678px;
}

#u1524
{
	width: 135px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1524:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1560:active,#u1531:active,#u1538:active,#u1550:active,#u1524:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1526
{
	height: 22px;
	width: 82px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1526.png") no-repeat 0px 0px;
}

#u1524:hover #u1526
{
	background: url("../images/u1526-r.png") no-repeat 0px 0px;
}

#u1524.MuseMenuActive #u1526
{
	background: url("../images/u1526-a.png") no-repeat 0px 0px;
}

#ppu655
{
	width: 0.01px;
	margin-left: 105px;
	margin-top: 38px;
}

#pu655
{
	width: 0.01px;
	margin-right: -10000px;
}

#u655
{
	z-index: 4;
	width: 196px;
	position: relative;
}

#u661-4
{
	z-index: 14;
	width: 179px;
	min-height: 26px;
	font-size: 18px;
	line-height: 22px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 9px;
	margin-top: 9px;
	position: relative;
}

#u660-8
{
	z-index: 6;
	width: 572px;
	min-height: 315px;
	text-align: justify;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u660-5
{
	font-style: italic;
}

#u1611-6
{
	z-index: 67;
	width: 230px;
	min-height: 21px;
	font-size: 12px;
	color: #551717;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 377px;
	margin-top: 233px;
	position: relative;
}

#u1611-2
{
	color: #FBB03B;
}

#u1611,#u1611-3
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 347px;
}

#page .verticalspacer
{
	clear: both;
}

