.version.index /* version checker */
{
	color: #0000F2;
	background-color: #2DC6D8;
}

.html
{
	background: #7F7F7F url("../images/background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -172px;
}

#pmenuu1333
{
	width: 0.01px;
}

#menuu1333
{
	z-index: 93;
	width: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u1334
{
	width: 147px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u1335
{
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #560707;
	padding-bottom: 9px;
	position: relative;
}

#u1335.MuseMenuActive
{
	background-color: #560707;
	margin: 0px;
}

#u1338-4
{
	position: relative;
	margin-right: -10000px;
	top: 4px;
	left: 0px;
}

#u1338-4_clip
{
	overflow: hidden;
	width: 147px;
	height: 29px;
	vertical-align: top;
}

#u1338-4_img
{
	display: block;
}

#u75
{
	z-index: 2;
	width: 553px;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u407
{
	z-index: 45;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 811px;
}

#u1125
{
	z-index: 54;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u387
{
	z-index: 52;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u402
{
	z-index: 46;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u392
{
	z-index: 50;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u397
{
	z-index: 48;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#menuu1283
{
	z-index: 62;
	width: 813px;
	margin-left: 147px;
	position: relative;
}

#u1284
{
	width: 221px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1285
{
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1285:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1288
{
	height: 22px;
	width: 167px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1288.png") no-repeat 0px 0px;
}

#u1285:hover #u1288
{
	background: url("../images/u1288-r.png") no-repeat 0px 0px;
}

#u1285.MuseMenuActive #u1288
{
	background: url("../images/u1288-a.png") no-repeat 0px 0px;
}

#u1326
{
	width: 207px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u1329
{
	width: 207px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1329:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1331
{
	height: 22px;
	width: 153px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1331.png") no-repeat 0px 0px;
}

#u1329:hover #u1331
{
	background: url("../images/u1331-r.png") no-repeat 0px 0px;
}

#u1329.MuseMenuActive #u1331
{
	background: url("../images/u1331-a.png") no-repeat 0px 0px;
}

#u1319
{
	width: 123px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u1322
{
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1322:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1324
{
	height: 22px;
	width: 70px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1324.png") no-repeat 0px 0px;
}

#u1322:hover #u1324
{
	background: url("../images/u1324-r.png") no-repeat 0px 0px;
}

#u1322.MuseMenuActive #u1324
{
	background: url("../images/u1324-a.png") no-repeat 0px 0px;
}

#u1312
{
	width: 119px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u1315
{
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1315:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1317
{
	height: 22px;
	width: 66px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1317.png") no-repeat 0px 0px;
}

#u1315:hover #u1317
{
	background: url("../images/u1317-r.png") no-repeat 0px 0px;
}

#u1315.MuseMenuActive #u1317
{
	background: url("../images/u1317-a.png") no-repeat 0px 0px;
}

#u1305
{
	width: 135px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 678px;
}

#u1308
{
	width: 135px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1308:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1285:active,#u1329:active,#u1322:active,#u1315:active,#u1308:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1310
{
	height: 22px;
	width: 82px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1310.png") no-repeat 0px 0px;
}

#u1308:hover #u1310
{
	background: url("../images/u1310-r.png") no-repeat 0px 0px;
}

#u1308.MuseMenuActive #u1310
{
	background: url("../images/u1310-a.png") no-repeat 0px 0px;
}

#slideshowu201
{
	z-index: 4;
	width: 0.01px;
	height: 267px;
	margin-left: 80px;
	margin-top: 9px;
	position: relative;
}

#u243
{
	position: absolute;
	width: 800px;
	height: 260px;
	background-color: transparent;
}

#u243popup
{
	z-index: 5;
}

#u779
{
	z-index: 6;
	width: 800px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u793
{
	z-index: 8;
	width: 800px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u248
{
	z-index: 10;
	width: 800px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u248_img
{
	margin-top: -22px;
	margin-bottom: -23px;
}

#u895
{
	z-index: 12;
	width: 800px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u779_clip,#u793_clip,#u248_clip,#u895_clip
{
	overflow: hidden;
	width: 800px;
	height: 260px;
}

#u779_img,#u793_img,#u895_img
{
	margin-top: -10px;
	margin-bottom: -10px;
}

#u236
{
	position: absolute;
	width: 800px;
	top: 197px;
}

#u236popup
{
	z-index: 14;
}

#u785-4
{
	z-index: 15;
	margin-right: -10000px;
	position: relative;
}

#u799-4
{
	z-index: 19;
	margin-right: -10000px;
	position: relative;
}

#u238-5
{
	z-index: 23;
	margin-right: -10000px;
	position: relative;
}

#u785-4_img,#u799-4_img,#u238-5_img
{
	display: block;
	vertical-align: top;
}

#u901-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u283
{
	z-index: 36;
	width: 898px;
	margin-left: 31px;
	top: -13px;
	margin-bottom: -12px;
	position: relative;
}

#pu281-4
{
	width: 0.01px;
	margin-left: 155px;
	margin-top: 17px;
}

#u281-4
{
	z-index: 32;
	width: 649px;
	min-height: 70px;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u288-7
{
	z-index: 38;
	width: 642px;
	min-height: 84px;
	text-align: justify;
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 3px;
}

#u920-6
{
	z-index: 56;
	width: 228px;
	min-height: 21px;
	font-size: 12px;
	color: #551717;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 388px;
	margin-top: 148px;
	position: relative;
}

#u920-2
{
	color: #FBB03B;
}

#u920,#u920-3
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 347px;
}

#page .verticalspacer
{
	clear: both;
}

