.version.purchase /* version checker */
{
	color: #0000E7;
	background-color: #0D3985;
}

.html
{
	background: #7F7F7F url("../images/background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -172px;
}

#menuu1564
{
	z-index: 56;
	width: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u1565
{
	width: 147px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u1568
{
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #560707;
	padding-bottom: 9px;
	position: relative;
}

#u1568:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1570
{
	height: 29px;
	width: 147px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	background: url("../images/u1570.png") no-repeat 0px 0px;
}

#u1568:hover #u1570
{
	background: url("../images/u1570-r.png") no-repeat 0px 0px;
}

#u1568.MuseMenuActive #u1570
{
	background: url("../images/u1570-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u523
{
	z-index: 2;
	width: 553px;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u1238
{
	z-index: 45;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 811px;
}

#u1251
{
	z-index: 54;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u1241
{
	z-index: 52;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u1239
{
	z-index: 46;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u1243
{
	z-index: 50;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1245
{
	z-index: 48;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#menuu1572
{
	z-index: 63;
	width: 813px;
	margin-left: 147px;
	position: relative;
}

#u1573
{
	width: 221px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1574
{
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1574:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1575
{
	height: 22px;
	width: 167px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1575.png") no-repeat 0px 0px;
}

#u1574:hover #u1575
{
	background: url("../images/u1575-r.png") no-repeat 0px 0px;
}

#u1574.MuseMenuActive #u1575
{
	background: url("../images/u1575-a.png") no-repeat 0px 0px;
}

#u1594
{
	width: 207px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u1597
{
	width: 207px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1597:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1600
{
	height: 22px;
	width: 153px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1600.png") no-repeat 0px 0px;
}

#u1597:hover #u1600
{
	background: url("../images/u1600-r.png") no-repeat 0px 0px;
}

#u1597.MuseMenuActive #u1600
{
	background: url("../images/u1600-a.png") no-repeat 0px 0px;
}

#u1601
{
	width: 123px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u1604
{
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1604:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1605
{
	height: 22px;
	width: 70px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1605.png") no-repeat 0px 0px;
}

#u1604:hover #u1605
{
	background: url("../images/u1605-r.png") no-repeat 0px 0px;
}

#u1604.MuseMenuActive #u1605
{
	background: url("../images/u1605-a.png") no-repeat 0px 0px;
}

#u1580
{
	width: 119px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u1581
{
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1581:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1568:active,#u1574:active,#u1597:active,#u1604:active,#u1581:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1584
{
	height: 22px;
	width: 66px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1584.png") no-repeat 0px 0px;
}

#u1581:hover #u1584
{
	background: url("../images/u1584-r.png") no-repeat 0px 0px;
}

#u1581.MuseMenuActive #u1584
{
	background: url("../images/u1584-a.png") no-repeat 0px 0px;
}

#u1587
{
	width: 135px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 678px;
}

#u1588
{
	width: 135px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1588.MuseMenuActive
{
	background-color: #5F312E;
	margin: 0px;
}

#u1591-5
{
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
}

#u1591-5_clip
{
	overflow: hidden;
	width: 82px;
	height: 22px;
	vertical-align: top;
}

#u1591-5_img
{
	display: block;
}

#ppu662
{
	width: 0.01px;
	margin-left: 67px;
	margin-top: 19px;
}

#pu662
{
	width: 0.01px;
	margin-right: -10000px;
}

#u662
{
	z-index: 4;
	width: 137px;
	position: relative;
}

#u665
{
	z-index: 6;
	width: 137px;
	margin-top: 18px;
	position: relative;
}

#u665_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#ppu670-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 199px;
}

#u670-4
{
	z-index: 8;
	width: 510px;
	min-height: 25px;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
}

#u671
{
	z-index: 12;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
}

#u677
{
	z-index: 14;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 137px;
}

#u905-5
{
	z-index: 16;
	width: 622px;
	min-height: 116px;
	position: relative;
	margin-right: -10000px;
}

#u905-2
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u906
{
	z-index: 21;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 280px;
}

#u913-10
{
	z-index: 23;
	width: 621px;
	min-height: 132px;
	text-align: justify;
	font-size: 12px;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
}

#pmenuu1564,#pu670-4,#pu926
{
	width: 0.01px;
}

#u926
{
	z-index: 33;
	width: 88px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u929-4
{
	z-index: 35;
	width: 510px;
	min-height: 25px;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u1138
{
	z-index: 39;
	width: 95px;
	position: relative;
	margin-right: -10000px;
	left: 137px;
}

#u1141
{
	z-index: 41;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 280px;
}

#u1162
{
	z-index: 43;
	width: 103px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 388px;
}

#u1162_img
{
	padding-right: 1px;
}

#u1612-6
{
	z-index: 95;
	width: 236px;
	min-height: 21px;
	font-size: 12px;
	color: #551717;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 378px;
	margin-top: 124px;
	position: relative;
}

#u1612-2
{
	color: #FBB03B;
}

#u1612,#u1612-3
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 347px;
}

#page .verticalspacer
{
	clear: both;
}

