.version.reviews /* version checker */
{
	color: #000006;
	background-color: #0D8CCC;
}

.html
{
	background: #7F7F7F url("../images/background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 601px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -172px;
}

#pmenuu1476
{
	width: 0.01px;
}

#menuu1476
{
	z-index: 60;
	width: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u1477
{
	width: 147px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u1480
{
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #560707;
	padding-bottom: 9px;
	position: relative;
}

#u1480:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1481
{
	height: 29px;
	width: 147px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	background: url("../images/u1481.png") no-repeat 0px 0px;
}

#u1480:hover #u1481
{
	background: url("../images/u1481-r.png") no-repeat 0px 0px;
}

#u1480.MuseMenuActive #u1481
{
	background: url("../images/u1481-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u451
{
	z-index: 2;
	width: 553px;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u1206
{
	z-index: 49;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 811px;
}

#u1219
{
	z-index: 58;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u1207
{
	z-index: 56;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u1213
{
	z-index: 50;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u1211
{
	z-index: 54;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1209
{
	z-index: 52;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#menuu1484
{
	z-index: 67;
	width: 813px;
	margin-left: 147px;
	position: relative;
}

#u1492
{
	width: 221px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1495
{
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1495:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1496
{
	height: 22px;
	width: 167px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1496.png") no-repeat 0px 0px;
}

#u1495:hover #u1496
{
	background: url("../images/u1496-r.png") no-repeat 0px 0px;
}

#u1495.MuseMenuActive #u1496
{
	background: url("../images/u1496-a.png") no-repeat 0px 0px;
}

#u1499
{
	width: 207px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u1502
{
	width: 207px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1502:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1505
{
	height: 22px;
	width: 153px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1505.png") no-repeat 0px 0px;
}

#u1502:hover #u1505
{
	background: url("../images/u1505-r.png") no-repeat 0px 0px;
}

#u1502.MuseMenuActive #u1505
{
	background: url("../images/u1505-a.png") no-repeat 0px 0px;
}

#u1513
{
	width: 123px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u1514
{
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1514.MuseMenuActive
{
	background-color: #5F312E;
	margin: 0px;
}

#u1516-4
{
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
}

#u1516-4_clip
{
	overflow: hidden;
	width: 70px;
	height: 22px;
	vertical-align: top;
}

#u1516-4_img
{
	display: block;
}

#u1506
{
	width: 119px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u1509
{
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1509:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1512
{
	height: 22px;
	width: 66px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1512.png") no-repeat 0px 0px;
}

#u1509:hover #u1512
{
	background: url("../images/u1512-r.png") no-repeat 0px 0px;
}

#u1509.MuseMenuActive #u1512
{
	background: url("../images/u1512-a.png") no-repeat 0px 0px;
}

#u1485
{
	width: 135px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 678px;
}

#u1488
{
	width: 135px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1488:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1480:active,#u1495:active,#u1502:active,#u1509:active,#u1488:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1490
{
	height: 22px;
	width: 82px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1490.png") no-repeat 0px 0px;
}

#u1488:hover #u1490
{
	background: url("../images/u1490-r.png") no-repeat 0px 0px;
}

#u1488.MuseMenuActive #u1490
{
	background: url("../images/u1490-a.png") no-repeat 0px 0px;
}

#ppu649
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 19px;
}

#pu649
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u649
{
	z-index: 4;
	width: 393px;
	margin-left: 8px;
	position: relative;
}

#u629
{
	z-index: 9;
	width: 74px;
	position: relative;
	margin-right: -10000px;
}

#pu644
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 106px;
}

#u644
{
	z-index: 5;
	width: 237px;
	margin-left: 24px;
	position: relative;
}

#u634
{
	z-index: 7;
	width: 287px;
	margin-top: 7px;
	position: relative;
}

#u629_img,#u644_img,#u634_img
{
	padding-right: 1px;
}

#u930-4
{
	z-index: 41;
	width: 436px;
	min-height: 19px;
	font-size: 14px;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-top: 36px;
	position: relative;
}

#u931-4
{
	z-index: 45;
	width: 329px;
	min-height: 17px;
	font-size: 12px;
	line-height: 14px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 107px;
	margin-top: 5px;
	position: relative;
}

#u652-4
{
	z-index: 15;
	width: 393px;
	min-height: 46px;
	font-size: 18px;
	line-height: 22px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	margin-left: 22px;
	margin-top: 30px;
	position: relative;
}

#u651-4
{
	z-index: 11;
	width: 421px;
	min-height: 162px;
	text-align: justify;
	font-style: italic;
	margin-left: 8px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u653-4
{
	z-index: 19;
	width: 348px;
	min-height: 21px;
	font-weight: bold;
	margin-left: 122px;
	margin-top: 5px;
	position: relative;
}

#u654-18
{
	z-index: 23;
	width: 347px;
	min-height: 385px;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 472px;
}

#u654-3,#u654-9
{
	font-size: 14px;
}

#u654,#u654-7
{
	font-style: italic;
}

#u654-6,#u654-12
{
	font-size: 16px;
	line-height: 19px;
}

#u654-14
{
	font-size: 14px;
	font-style: italic;
}

#u654-5,#u654-11,#u654-16
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

#u1610-6
{
	z-index: 98;
	width: 231px;
	min-height: 21px;
	font-size: 12px;
	color: #551717;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 378px;
	margin-top: 149px;
	position: relative;
}

#u1610-2
{
	color: #FBB03B;
}

#u1610,#u1610-3
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 347px;
}

#page .verticalspacer
{
	clear: both;
}

