.version.whispering_souls /* version checker */
{
	color: #0000F7;
	background-color: #A379E4;
}

.html
{
	background: #7F7F7F url("../images/background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -172px;
}

#menuu1468
{
	z-index: 68;
	width: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u1469
{
	width: 147px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u1472
{
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #560707;
	padding-bottom: 9px;
	position: relative;
}

#u1472:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1473
{
	height: 29px;
	width: 147px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	background: url("../images/u1473.png") no-repeat 0px 0px;
}

#u1472:hover #u1473
{
	background: url("../images/u1473-r.png") no-repeat 0px 0px;
}

#u1472.MuseMenuActive #u1473
{
	background: url("../images/u1473-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u431
{
	z-index: 2;
	width: 553px;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u1267
{
	z-index: 26;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 811px;
}

#u1280
{
	z-index: 35;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u1274
{
	z-index: 33;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u1268
{
	z-index: 27;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u1270
{
	z-index: 31;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1272
{
	z-index: 29;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#menuu1432
{
	z-index: 37;
	width: 813px;
	margin-left: 147px;
	position: relative;
}

#u1454
{
	width: 221px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1457
{
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1457:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1460
{
	height: 22px;
	width: 167px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1460.png") no-repeat 0px 0px;
}

#u1457:hover #u1460
{
	background: url("../images/u1460-r.png") no-repeat 0px 0px;
}

#u1457.MuseMenuActive #u1460
{
	background: url("../images/u1460-a.png") no-repeat 0px 0px;
}

#u1440
{
	width: 207px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u1443
{
	width: 207px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1443.MuseMenuActive
{
	background-color: #5F312E;
	margin: 0px;
}

#u1445-4
{
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
}

#u1445-4_clip
{
	overflow: hidden;
	width: 153px;
	height: 22px;
	vertical-align: top;
}

#u1445-4_img
{
	display: block;
}

#u1433
{
	width: 123px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u1434
{
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1434:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1436
{
	height: 22px;
	width: 70px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1436.png") no-repeat 0px 0px;
}

#u1434:hover #u1436
{
	background: url("../images/u1436-r.png") no-repeat 0px 0px;
}

#u1434.MuseMenuActive #u1436
{
	background: url("../images/u1436-a.png") no-repeat 0px 0px;
}

#u1461
{
	width: 119px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u1464
{
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1464:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1466
{
	height: 22px;
	width: 66px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1466.png") no-repeat 0px 0px;
}

#u1464:hover #u1466
{
	background: url("../images/u1466-r.png") no-repeat 0px 0px;
}

#u1464.MuseMenuActive #u1466
{
	background: url("../images/u1466-a.png") no-repeat 0px 0px;
}

#u1447
{
	width: 135px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 678px;
}

#u1448
{
	width: 135px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1448:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1472:active,#u1457:active,#u1434:active,#u1464:active,#u1448:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1450
{
	height: 22px;
	width: 82px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1450.png") no-repeat 0px 0px;
}

#u1448:hover #u1450
{
	background: url("../images/u1450-r.png") no-repeat 0px 0px;
}

#u1448.MuseMenuActive #u1450
{
	background: url("../images/u1450-a.png") no-repeat 0px 0px;
}

#pu597
{
	width: 0.01px;
	margin-top: 54px;
}

#u597
{
	z-index: 4;
	width: 269px;
	position: relative;
	margin-right: -10000px;
}

#pu912-10
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 299px;
}

#u912-10
{
	z-index: 6;
	width: 644px;
	min-height: 232px;
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1131-4
{
	z-index: 16;
	width: 261px;
	min-height: 24px;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u1132
{
	z-index: 20;
	width: 60px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pmenuu1468,#pu1144
{
	width: 0.01px;
}

#u1144
{
	z-index: 22;
	width: 205px;
	position: relative;
	margin-right: -10000px;
}

#u1147
{
	z-index: 24;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 229px;
}

#u1609-6
{
	z-index: 75;
	width: 238px;
	min-height: 21px;
	font-size: 12px;
	color: #551717;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 378px;
	margin-top: 139px;
	position: relative;
}

#u1609-2
{
	color: #FBB03B;
}

#u1609,#u1609-3
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 347px;
}

#page .verticalspacer
{
	clear: both;
}

