.version.within_lie_dragons /* version checker */
{
	color: #0000E6;
	background-color: #F1CFF2;
}

.html
{
	background: #7F7F7F url("../images/background.jpg") no-repeat center center scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 599px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -172px;
}

#menuu1424
{
	z-index: 65;
	width: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u1425
{
	width: 147px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
}

#u1426
{
	width: 147px;
	border-style: none;
	border-color: transparent;
	background-color: #560707;
	padding-bottom: 9px;
	position: relative;
}

#u1426:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1428
{
	height: 29px;
	width: 147px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 4px;
	background: url("../images/u1428.png") no-repeat 0px 0px;
}

#u1426:hover #u1428
{
	background: url("../images/u1428-r.png") no-repeat 0px 0px;
}

#u1426.MuseMenuActive #u1428
{
	background: url("../images/u1428-a.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u364
{
	z-index: 2;
	width: 553px;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u1254
{
	z-index: 23;
	width: 149px;
	position: relative;
	margin-right: -10000px;
	left: 811px;
}

#u1203
{
	z-index: 32;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u1257
{
	z-index: 30;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u1259
{
	z-index: 24;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 62px;
}

#u1255
{
	z-index: 28;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 93px;
}

#u1261
{
	z-index: 26;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 124px;
}

#menuu1388
{
	z-index: 34;
	width: 813px;
	margin-left: 147px;
	position: relative;
}

#u1403
{
	width: 221px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1406
{
	width: 221px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1406.MuseMenuActive
{
	background-color: #5F312E;
	margin: 0px;
}

#u1408-4
{
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
}

#u1408-4_clip
{
	overflow: hidden;
	width: 167px;
	height: 22px;
	vertical-align: top;
}

#u1408-4_img
{
	display: block;
}

#u1396
{
	width: 207px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u1399
{
	width: 207px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1399:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1400
{
	height: 22px;
	width: 153px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 27px;
	background: url("../images/u1400.png") no-repeat 0px 0px;
}

#u1399:hover #u1400
{
	background: url("../images/u1400-r.png") no-repeat 0px 0px;
}

#u1399.MuseMenuActive #u1400
{
	background: url("../images/u1400-a.png") no-repeat 0px 0px;
}

#u1410
{
	width: 123px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u1411
{
	width: 123px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1411:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1414
{
	height: 22px;
	width: 70px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1414.png") no-repeat 0px 0px;
}

#u1411:hover #u1414
{
	background: url("../images/u1414-r.png") no-repeat 0px 0px;
}

#u1411.MuseMenuActive #u1414
{
	background: url("../images/u1414-a.png") no-repeat 0px 0px;
}

#u1417
{
	width: 119px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 557px;
}

#u1420
{
	width: 119px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1420:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1422
{
	height: 22px;
	width: 66px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1422.png") no-repeat 0px 0px;
}

#u1420:hover #u1422
{
	background: url("../images/u1422-r.png") no-repeat 0px 0px;
}

#u1420.MuseMenuActive #u1422
{
	background: url("../images/u1422-a.png") no-repeat 0px 0px;
}

#u1389
{
	width: 135px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 678px;
}

#u1392
{
	width: 135px;
	border-style: none;
	border-color: transparent;
	background-color: #5F312E;
	padding-bottom: 18px;
	position: relative;
}

#u1392:hover
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1426:active,#u1399:active,#u1411:active,#u1420:active,#u1392:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1395
{
	height: 22px;
	width: 82px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 26px;
	background: url("../images/u1395.png") no-repeat 0px 0px;
}

#u1392:hover #u1395
{
	background: url("../images/u1395-r.png") no-repeat 0px 0px;
}

#u1392.MuseMenuActive #u1395
{
	background: url("../images/u1395-a.png") no-repeat 0px 0px;
}

#pu592
{
	width: 0.01px;
	margin-top: 53px;
}

#u592
{
	z-index: 4;
	width: 262px;
	position: relative;
	margin-right: -10000px;
}

#pu904-5
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 300px;
}

#u904-5
{
	z-index: 18;
	width: 644px;
	min-height: 214px;
	position: relative;
}

#u904-2
{
	text-align: justify;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u696-4
{
	z-index: 6;
	width: 267px;
	min-height: 24px;
	font-size: 16px;
	line-height: 19px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 22px;
	position: relative;
}

#pmenuu1424,#pu697
{
	width: 0.01px;
}

#u697
{
	z-index: 10;
	width: 197px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u702
{
	z-index: 12;
	width: 205px;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#pu712
{
	width: 0.01px;
	margin-top: 5px;
}

#u712
{
	z-index: 16;
	width: 205px;
	position: relative;
	margin-right: -10000px;
}

#u707
{
	z-index: 14;
	width: 204px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 267px;
}

#u1608-6
{
	z-index: 72;
	width: 244px;
	min-height: 21px;
	font-size: 12px;
	color: #551717;
	line-height: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 377px;
	margin-top: 150px;
	position: relative;
}

#u1608-2
{
	color: #FBB03B;
}

#u1608,#u1608-3
{
	color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 347px;
}

#page .verticalspacer
{
	clear: both;
}

