.version.purchase /* version checker */
{
	color: #0000F6;
	background-color: #2C8671;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 779px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u170,#u170-bw
{
	z-index: 3;
	height: 90px;
}

#u92
{
	z-index: 4;
	width: 34px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 325px;
}

#u94
{
	z-index: 5;
	width: 48px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 319px;
}

.ie #u92,.ie #u94
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#accordionu96
{
	z-index: 6;
	width: 349px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 18px;
}

#u97
{
	z-index: 7;
	width: 349px;
}

#u98-4
{
	z-index: 8;
	width: 339px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u98-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 339px;
	margin: 0px;
}

#u99
{
	z-index: 12;
	width: 349px;
}

#menuu100
{
	z-index: 13;
	width: 295px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 24px;
}

#u101
{
	width: 295px;
}

#u104
{
	width: 295px;
	min-height: 24px;
	margin-right: -10000px;
}

#u104:hover
{
	width: 295px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u104.MuseMenuActive
{
	width: 295px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u105-4
{
	width: 295px;
	min-height: 25px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u104:hover #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px -1px 0px;
}

#u104.MuseMenuActive #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px -1px 0px;
}

#u186
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u186:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u189-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u186:hover #u189-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u199
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u186.MuseMenuActive,#u199:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u202-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u186.MuseMenuActive #u189-4,#u199:hover #u202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u214
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u199.MuseMenuActive,#u214:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u215-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u199.MuseMenuActive #u202-4,#u214:hover #u215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u227
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u214.MuseMenuActive,#u227:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u230-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u214.MuseMenuActive #u215-4,#u227:hover #u230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u185,#u198,#u211,#u224,#u237
{
	width: 295px;
	margin-top: 11px;
}

#u238
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u227.MuseMenuActive,#u238:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u238.MuseMenuActive
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u241-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u227.MuseMenuActive #u230-4,#u238:hover #u241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u238.MuseMenuActive #u241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u127
{
	z-index: 50;
	width: 236px;
	margin-left: 71px;
	margin-top: 25px;
}

#u334-4
{
	z-index: 70;
	width: 328px;
	min-height: 43px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	margin-left: 26px;
	margin-top: 16px;
	position: relative;
}

#pu322
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 12px;
}

#u322
{
	z-index: 66;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu336
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 166px;
}

#u336
{
	z-index: 74;
	width: 88px;
	background-color: transparent;
	position: relative;
}

#u342
{
	z-index: 76;
	width: 95px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u348
{
	z-index: 78;
	width: 59px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#pu370-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 276px;
}

#u370-4
{
	z-index: 88;
	width: 50px;
	min-height: 18px;
	background-color: #5C3130;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
}

#u371-4
{
	z-index: 92;
	width: 50px;
	min-height: 18px;
	background-color: #5C3130;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	margin-top: 73px;
	position: relative;
}

#u372-4
{
	z-index: 96;
	width: 50px;
	min-height: 18px;
	background-color: #5C3130;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	margin-top: 72px;
	position: relative;
}

#pu328
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 34px;
}

#u328
{
	z-index: 68;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu354
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-left: 165px;
}

#u354
{
	z-index: 80;
	width: 88px;
	background-color: transparent;
	position: relative;
}

#pu170,#pu357
{
	width: 0.01px;
}

#u357
{
	z-index: 82;
	width: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u360
{
	z-index: 84;
	width: 59px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#u363
{
	z-index: 86;
	width: 88px;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
}

#pu373-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 276px;
}

#u373-4
{
	z-index: 100;
	width: 50px;
	min-height: 18px;
	background-color: #5C3130;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: relative;
}

#u375-4
{
	z-index: 108;
	width: 50px;
	min-height: 18px;
	background-color: #5C3130;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	margin-top: 38px;
	position: relative;
}

#u376-4
{
	z-index: 112;
	width: 50px;
	min-height: 18px;
	background-color: #5C3130;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	margin-top: 38px;
	position: relative;
}

#u374-4
{
	z-index: 104;
	width: 50px;
	min-height: 18px;
	background-color: #5C3130;
	line-height: 18px;
	font-size: 12px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: center;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	margin-top: 39px;
	position: relative;
}

#u163
{
	z-index: 2;
	min-height: 66px;
	padding: 21px 73px 5px 71px;
}

#pu133
{
	width: 0.01px;
	position: relative;
}

#u133
{
	z-index: 52;
	width: 40px;
	margin-right: -10000px;
}

#u139
{
	z-index: 54;
	width: 40px;
	margin-right: -10000px;
	left: 50px;
}

#u145
{
	z-index: 56;
	width: 40px;
	margin-right: -10000px;
	left: 98px;
}

#u171
{
	z-index: 60;
	width: 40px;
	margin-right: -10000px;
	left: 148px;
}

#u157
{
	z-index: 58;
	width: 40px;
	margin-right: -10000px;
	left: 196px;
}

#u177-4
{
	z-index: 62;
	width: 236px;
	min-height: 16px;
	margin-top: 10px;
}

#u163-bw
{
	z-index: 2;
	min-height: 66px;
	margin-top: 22px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

