.version.whispering_souls /* version checker */
{
	color: #0000E5;
	background-color: #F170D2;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1090px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu170
{
	width: 0.01px;
}

#u170,#u170-bw
{
	z-index: 3;
	height: 90px;
}

#u92
{
	z-index: 4;
	width: 34px;
	height: 50px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 325px;
}

#u94
{
	z-index: 5;
	width: 48px;
	height: 48px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 319px;
}

.ie #u92,.ie #u94
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#accordionu96
{
	z-index: 6;
	width: 349px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 18px;
}

#u97
{
	z-index: 7;
	width: 349px;
}

#u98-4
{
	z-index: 8;
	width: 339px;
	min-height: 36px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u98-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 36px;
	width: 339px;
	margin: 0px;
}

#u99
{
	z-index: 12;
	width: 349px;
}

#menuu100
{
	z-index: 13;
	width: 295px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 24px;
}

#u101
{
	width: 295px;
}

#u104
{
	width: 295px;
	min-height: 24px;
	margin-right: -10000px;
}

#u104:hover
{
	width: 295px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u104.MuseMenuActive
{
	width: 295px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u105-4
{
	width: 295px;
	min-height: 25px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u104:hover #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px -1px 0px;
}

#u104.MuseMenuActive #u105-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px -1px 0px;
}

#u186
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u186:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u189-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u186:hover #u189-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u199
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u186.MuseMenuActive,#u199:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u202-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u186.MuseMenuActive #u189-4,#u199:hover #u202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u214
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u199.MuseMenuActive,#u214:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u215-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u199.MuseMenuActive #u202-4,#u214:hover #u215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u227
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u214.MuseMenuActive,#u227:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u230-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u214.MuseMenuActive #u215-4,#u227:hover #u230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u185,#u198,#u211,#u224,#u237
{
	width: 295px;
	margin-top: 11px;
}

#u238
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u227.MuseMenuActive,#u238:hover
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u238.MuseMenuActive
{
	width: 295px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u241-4
{
	width: 295px;
	min-height: 25px;
	margin-right: -10000px;
}

#u227.MuseMenuActive #u230-4,#u238:hover #u241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u238.MuseMenuActive #u241-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 295px;
	margin: 0px -10000px 0px 0px;
}

#u127
{
	z-index: 50;
	width: 236px;
	margin-left: 71px;
	margin-top: 25px;
}

#u279
{
	z-index: 66;
	width: 259px;
	background-color: transparent;
	margin-left: 61px;
	margin-top: 27px;
	position: relative;
}

#u285-10
{
	z-index: 68;
	width: 259px;
	min-height: 363px;
	background-color: transparent;
	text-align: center;
	margin-left: 60px;
	margin-top: 19px;
	position: relative;
}

#u286-4
{
	z-index: 78;
	width: 260px;
	min-height: 30px;
	border-color: #6B6B6B;
	background-color: #560707;
	padding-top: 10px;
	line-height: 22px;
	margin-left: 60px;
	margin-top: 19px;
	position: relative;
}

#u286-4:hover
{
	background-color: #996A6A;
	background-color: rgba(86,7,7,0.6);
	padding-top: 10px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 260px;
	margin: 19px 0px 0px 60px;
	-pie-background: rgba(86,7,7,0.6);
}

#u163
{
	z-index: 2;
	min-height: 66px;
	padding: 21px 73px 5px 71px;
}

#pu133
{
	width: 0.01px;
	position: relative;
}

#u133
{
	z-index: 52;
	width: 40px;
	margin-right: -10000px;
}

#u139
{
	z-index: 54;
	width: 40px;
	margin-right: -10000px;
	left: 50px;
}

#u145
{
	z-index: 56;
	width: 40px;
	margin-right: -10000px;
	left: 98px;
}

#u171
{
	z-index: 60;
	width: 40px;
	margin-right: -10000px;
	left: 148px;
}

#u157
{
	z-index: 58;
	width: 40px;
	margin-right: -10000px;
	left: 196px;
}

#u177-4
{
	z-index: 62;
	width: 236px;
	min-height: 16px;
	margin-top: 10px;
}

#u163-bw
{
	z-index: 2;
	min-height: 66px;
	margin-top: 16px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

